* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .user-form{
    background-color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-form input[type="text"],
  .user-form input[type="email"],
  .user-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .user-form input[type="text"]:focus,
  .user-form input[type="email"]:focus,
  .user-form textarea:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  .user-form textarea {
    height: 120px;
    resize: none;
  }
  
  .user-btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user-btn:hover {
    background-color: #0056b3;
  }
  